* {
    color: black;
    font-size: bold;
    padding: 0;
    margin-left: 2px;
    margin-left: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: black;
}
.bg-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.left-container {
    /* bg-image */

    /* background-image: url('https://th.bing.com/th/id/OIP.Mwve6IAMxno1zmoCCnPyVQHaEK?w=282&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7');
    background-size: cover;
    background-repeat: no-repeat; */

    /* container */
    background-color: rgb(207, 207, 207);
    width: 50vw;
    height: 80vh;
    margin-right: 5px;
    text-align: center;

    /* border edge shapeing */
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}

.l-head {
    text-decoration: underline;
}

.l-button {
    padding: 4px;
    background-color: red;
    color: white;
    font-weight: bold;
    border: None;
    border-radius: 6px;
}

.l-button:hover {
    cursor: pointer;
}

.right-container {

    background-color: rgb(207,207,207);
    width: 50vw;
    height: 80vh;
    margin-left: 5px;
    text-align: center;
    
    /* border edge shapeing */
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;

    /* display  */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.input-image {
    display: block;
    background-color: rgb(134, 134, 134);
}

.output-image {
    display: block;
    background-color: rgb(134, 134, 134);
}
